* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#styleFooter {
	text-align: center;
	position: absolute;
	padding: 10px 10px 0px 10px;
	width: 100%;
	height: 40px;
	
} 


.Banner {
	background-image: url('../public/Banner.jpg');
	background-size: 90%;
	background-position: 50% 60%;
}

#home-box {
	border: 3px solid rgb(245, 198, 165);
	border-radius: 2%;
	background-color: rgb(245, 198, 165);
}


/*CART*/
#header {
	border-radius: 1rem;
	padding: .5rem;

}

#CartSummary {
	border-radius: 1rem;
	padding: .5rem;
	display: block;
	
}

#hover:hover {
	transform: scale(1.05);
	 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 
